@import '../../../variables';

.home-page {
    &__checkout {
        position: absolute;
        right: $gutter-2;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            background-color: lightgrey;
        }
    }
}